:root {
    --theme-r: rgb(192, 82, 35);
    --theme-lr: rgb(233, 135, 92);
    --theme-g: rgb(148, 161, 111);
    --theme-lg: rgb(190, 207, 141);
    --theme-dg: rgb(83, 90, 62);
    --theme-y: rgb(249, 204, 144);
    --theme-ly: rgb(252, 233, 209);
    --theme-y2: rgb(247, 159, 43);
    --section-bg: #FAE3E3;

    --header-font: Bree Serif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --base-font: 'Source Sans 3', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --base-font-size: 1.1rem;
    --pad: calc(1rem + 1vw);
}
@font-face {
    font-family: 'Bree Serif';
    src: url('./fonts/BreeSerif-Regular.woff2') format('woff2'),
        url('./fonts/BreeSerif-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Source Sans 3';
    src: url('./fonts/SourceSans3-Roman.woff2') format('woff2'),
        url('./fonts/SourceSans3-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans 3';
    src: url('./fonts/SourceSans3-Italic.woff2') format('woff2'),
        url('./fonts/SourceSans3-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
* {
    font-size: var(--base-font-size);
    font-family: var(--base-font);
    font-weight: 600;
}
h1, h2, h3 {
    font-family: var(--header-font)
}
body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr 0.1fr;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    align-content: start;
}
img {
    height: auto;
}
header {
    grid-row: 1/2;
    grid-column: 1/-1;
    height: auto;
}
nav {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-flow: column;
    gap: clamp(1rem, 7vw, 30%);
    align-items: end;
    background-color: var(--theme-r)
}

.button-wrapper {
    display: flex;
    flex-shrink: 0;
    gap:calc(0.6rem + 1vw);
}
.button-wrapper button {
    background-color: lightgray;
    border: 0px;
    border-radius: 12px 12px 0 0;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 0.7rem 2.25rem;
}
.button-wrapper button:hover {
    transform: translate(3px, 1px);
    transition: 0.2s transform ease-in;
}
@media (max-width: 700px) {
    nav {
        gap: 0;
    }
    .button-wrapper {
        gap: 1vw;
    }
    .button-wrapper button {
        font-family: var(--base-font);
        font-size: 1.3rem;
        padding: 0.5rem 2rem;
    }
}
@media (max-width: 575px) {
    .button-wrapper {
        font-size: 1rem;
        flex-direction: column;
        padding: 2vw;
    }
    .button-wrapper button {
        border-radius: 14px;
        padding: 0 5rem;
        width: fit-content;
        flex: 0;
        align-self: center;
    }
    .button-wrapper button:hover {
        transform: none;
    }
    nav img {
        display: block;
    }
}
main#content {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    position: relative;
    padding: calc(0.5rem + 1vw) 0;
}

h1 {
    display: flex;
    flex-direction: column;
    line-height: 1;
    letter-spacing: 2px;
    font-size: calc(2.25rem + 0.5vw);
    padding: calc(0.5rem + 0.5vw);

    span {
        font-size: calc(1.85rem + 0.5vw);
        align-self: center;
    }
}
h2.inline {
    z-index: 1;
    display: inline;
    position: absolute;
    top: 5vw;
    left: 5vw;
    color: white;
    p {
        font-size: clamp(1.5rem, 3vw, 3rem);
    }
}
div#heroContainer {
    display: grid;
    grid-template-columns: 1fr auto;
    position: relative;
    width: 100vw;
    height: fit-content;
    background: #000000;
}
img#hero {
    grid-column: 2/3;
    position: relative;
    z-index: 0;
    align-self: right;
}
div#heroCover {
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    min-width: 100vw;
    height: 100%;
    background: linear-gradient(90deg, #040301 25%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 93%, rgba(0, 0, 0, 1) 100%);}

/* Menu */
article#menu-section {
    background-color: var(--theme-y);
    width: 96vw;
    display: grid;
    grid-template-columns: 1fr clamp(30ch, 75%, 110ch) 1fr;
    border-radius: 16px 16px 0 0;
}
#menu-section, #specials-section {
    img {
        border-radius: 16px;
    }
}
h2.page-title {
    font-size: 1.8rem;
    text-align: center;
    letter-spacing: 3.5px;
    border: 3px dashed var(--theme-g);
    padding: 0.5rem 2rem;
    margin-bottom: var(--pad);
    border-radius: 8px;
}
div#menu-wrapper {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr) minmax(300px, 1fr));
    grid-auto-rows: max-content;
    gap: 3vw;
    padding: 3vw 0;
}

section.box {
    line-height: 1.2;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: clamp(0.5rem, 1vw, 1rem);
    gap: 1vw;
}
section.box p:first-child {
    font-weight: 700;
    font-size: 1.3rem;
}
section.box img {
    justify-self: center;
    max-width: 80%;
}
@media (max-width: 830px) {
    div#menu-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

article#specials-section {
    padding: var(--pad);
    padding-top: 0;
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    grid-template-rows: repeat(4, auto);
    column-gap: max(0.5rem, 1vw);
    justify-items: center;
    width: 100vw;
    p {
        grid-column: 2/3;
        grid-row: 3/5;
        max-width: 65ch;
    }
    h3 {
        font-weight: normal;
        grid-column: 3/4;
        grid-row: 2/3;
    }
    ul {
        margin-top: 1vw;
        grid-column: 3/4;
        grid-row: 3/4;
    }
    h3, ul {
        margin-left: 1vw;
    }
}
h2#specials-header {
    width: 96vw;
    padding: calc(6rem + 3.5vw) 0 2vw;
    font-size: 1.3rem;
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
}
ul.specials {
    width: fit-content;
    list-style: none;
    padding-left: 0;
    font-size: 1.15rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;
}
ul.specials li {
    color: var(--theme-dg);
    background-color: var(--theme-ly);
    padding: 1rem 2.5rem;
    align-content: center;
}

/* About */
article#section-wrapper {
    font-size: var(--base-font);
    display: grid;
    grid-template-rows: repeat(4, auto);
    justify-items: center;
    img {
        border-radius: 16px;
    }
}
section#about-section-1 {
    background-color: var(--theme-ly);
    padding: var(--pad);
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 0.5fr clamp(150px, 100%, 400px) clamp(20ch, 100%, 80ch) 0.5fr;
    grid-template-rows: auto auto;
    justify-items: center;
    img {
        grid-column: 2/3;
        grid-row: 1/3;
        height: auto;
        object-fit: cover;
        object-position: bottom;
    }
    p {
        grid-column: 3/4;
        grid-row: 1/2;
        align-self: center;
        font-size: 1.2rem;
        line-height: 1.6;
        grid-column: 3/4;
        padding: 1rem calc(1rem + 1vw);
    }
}
button#about-menu-button {
    color: white;
    outline-color: var(--theme-lg);
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    margin: 1rem;
    font-size: 1.5rem;
    display: block;
    height: fit-content;
    width: fit-content;
    border: none;
    border-radius: 16px;
    background-color: var(--theme-g);
    padding: 0.5rem max(2rem, 2.25vw);
    transition: 0.2s ease-in-out;
}
button#about-menu-button:hover {
    background-color: var(--theme-lg);
}
button#about-menu-button:active {
    color: var(--theme-g);
    outline: 2px solid var(--theme-lg);
    background-color: var(--theme-y);
}
section#headline-section {
    width: 100vw;
}
p#about-2 {
    color: var(--theme-dg);
    font-family: var(--header-font);
    padding: calc(5rem + 3vw) 10vw 2.5vw;
    font-size: calc(1.2rem + 0.5vw);
    font-weight: 100;
    max-width: 85ch;
    margin: 0 auto;
}
section#about-section-2 {
   background-color: var(--theme-y);
   padding: var(--pad);
   display: grid;
   grid-template-columns: 0.5fr clamp(150px, 100%, 400px) clamp(20ch, 100%, 80ch) 0.5fr;
   grid-template-rows: auto;
   grid-auto-flow: row;
   width: 94vw;
   align-self: center;
   justify-items: center;
   gap: 2vw;
   border-radius: 16px;
   p {
    grid-column: 1/-1;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    max-width: 80ch;
    justify-self: center;
   }
    img {
        grid-column: 3/4;
    }
    #contact-wrapper {
        grid-column: 2/3;
        margin-top: -20px;
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        gap: var(--pad);
        address {
            display: block;
        }
        address p {
            text-align: start;
        }
    }
}
section#about-section-3 {
    background-color: var(--theme-ly);
    margin-top: var(--pad);
    padding: calc(1rem + 1vw);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: calc(1rem + 1vw);
    height: max-content;
    align-items: center;
    img {
        border-radius: 4px;
        border: 25px solid var(--theme-lg)
    }
    img:nth-child(2) {
       border: 25px solid var(--theme-lr);
    }
}

footer {
    background-color: var(--theme);
    grid-column: 1/-1;
    grid-row: 3/4;
}


/* shape divider from ShapeDividers.com */

h2#specials-header {
overflow:hidden;
position:relative;
}
h2#specials-header::before{ 
content:'';
position: absolute;
z-index: 3;
pointer-events: none;
background-repeat: no-repeat;
bottom: -0.1vw;
left: -0.1vw;
right: -0.1vw;
top: -0.1vw; 
background-size: 296% 92px;
background-position: 72% 0%;  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23f9cc90"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%23f9cc90"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%23f9cc90"/></svg>'); 
}

@media (min-width:1400px){
h2#specials-header::before{
background-size: 296% calc(2vw + 92px);
}
}

section#headline-section{
overflow:hidden;
position:relative;
}
section#headline-section::before{ 
content:'';
font-family:'shape divider from ShapeDividers.com';
position: absolute;
z-index: 3;
pointer-events: none;
background-repeat: no-repeat;
bottom: -0.1vw;
left: -0.1vw;
right: -0.1vw;
top: -0.1vw; 
background-size: 296% 92px;
background-position: 100% 0%;  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23fce9d1"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%23fce9d1"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%23fce9d1"/></svg>'); 
}

/* @media (min-width:1400px){
section#headline-section::before{
background-size: 296% calc(2vw + 92px);
}
} */
 