:root {
    --theme: rgba(135, 194, 135, 0.87);
}
* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr 0.1fr;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    gap: calc(1rem + 1vw)
}
header {
    grid-column: 1/-1;
}
h1 {
    display: flex;
    flex-direction: column;
    line-height: 1;
    font-size: calc(2rem + 0.5vw)
}
nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: column;
    align-items: center;
    background-color: var(--theme);
    padding: calc(0.5rem + 0.5vw)
}

nav button {
    border: 0px;
    border-radius: 12px;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    margin: 1rem;
}

div#content {
    grid-column: 2/3;
    background-color: rgba(171, 223, 171, 0.87);
}
footer {
    background-color: var(--theme);
    grid-column: 1/-1;
    grid-row: 3/4;
}
